%li.milestone{:id => "milestone#{milestone.id}", :class => "#{reached_at.nil? ? "" : "reached"}"}
 -if reached_at.nil?
  %form.update{ :action => "/baby/#{@baby.id}/achievements", :method => "POST"}
   %input{ :type => "hidden", :name => "_method", :value => "POST"}
   %input{ :type => "hidden", :name => "milestone_id", :value => milestone.id}
   %input{ :type => "submit", :value => "  ", :title => "Reached Today"}
 -else
  %form.update{ :action => "/baby/#{@baby.id}/achievements", :method => "POST"}
   %input{ :type => "hidden", :name => "_method", :value => "DELETE"}
   %input{ :type => "hidden", :name => "milestone_id", :value => milestone.id}
   %input{ :type => "submit", :value => "✓", :title => "Just Kidding"}
 .info
  .name
   = milestone.name
  .reached_at
   = reached_at
